/*
    Style for Html Formatter
    overrides mini-dark.css
*/

:root {
    --universal-border-radius: 0.75rem;
}

/* Util: */

.center {
    text-align: center;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.small {
    font-size: 0.7em;
}

/* Main style */

* {
	font-family: "Bitstream", monospace;
	font-weight: normal;
}

body {
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    color: #888;
    margin-top: 0;
}

.box {
    display: flex;
    white-space: nowrap;
}

.icon {
    margin-right: 0.5em;
    opacity: 0.5;
    color: green;
}

.icon-1 {
    opacity: 1;
    color: #00ff00
}

/* Custom scrollbar: */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background: yellow;
}
::-webkit-scrollbar-thumb:hover {
    background: yellow;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* FONTS */

@font-face {
    font-family: "Bitstream";
    src: url(./../fonts/BitstromWeraNerdFontPropo-Regular.ttf) format("truetype");
    font-weight: normal;
}
